* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%; 
    }
}
/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background-color: #D428D7;
}
header{
    background-color: #D428D7;
    /* padding: 20px; */
}
.Navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.listoflinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.listoflinks li {
    margin-right: 20px;
}

.listoflinks a {
    text-decoration: none;
    font-size: 15;
    color: #fff; 
    padding: 10px 20px;
    border-radius: 5px;
    width: 512px;
    height: 18px;
}

.Navbar img{
    width: 125px;
    height: 121px;
 }

.profile-driver img{
    width: 100%;
    height: auto;
}
/* end of navbar */

.faq-section {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    color: #333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.faq-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #540088;
}

.faq-item {
    border-bottom: 1px solid #ccc;
    padding: 15px 0;
    transition: background-color 0.3s ease;
}

.faq-item:hover {
    background-color: #f9f9f9;
}

.faq-question {
    font-weight: bold;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px 0;
}

.faq-toggle {
    font-size: 18px;
    transition: transform 0.3s ease;
}

.faq-answer {
    margin-top: 10px;
    font-size: 16px;
    line-height: 1.6;
    padding-left: 20px;
}

.hidden {
    display: none;
}
/* start of footer  */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: linear-gradient(to bottom, #D428D7 , #540088 40%);
    color: white;
    height: 60.813rem;
}
footer .logofooter {
    margin-bottom: 2rem;
    margin-left: -48%;
}

footer img {
    width: 16.625rem;
    height: 15.938rem;
}

footer ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1500px;
    list-style-type: none;
    padding: 0;
}

footer ul div {
    display: flex;
    flex-direction: column;

}
footer .sosmed img{
    margin-bottom: 2rem;
    height: 5.625rem;
    width: 5.625rem;
}

footer h4 {
    margin-bottom: 2rem;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

footer p {
    margin: 5px 0;
    font-size: 25px;
    margin-top: 10%;
    text-align: center;
}
