* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%; 
    }
}
/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    background: linear-gradient(to bottom, #D428D7, #443CE3);
}
header {
    position: sticky;
    top: 0;
    z-index: 10;
}

.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 60px;

}

.listoflinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.listoflinks li {
    margin-right: 20px;
}

.listoflinks a {
    text-decoration: none;
    font-size: 15px;
    color: #fff; 
    padding: 10px 20px;
    width: 512px;
    height: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.listoflinks a:hover {
    color: #000; /* Change text color on hover */
    border-bottom: 2px solid #fff; /* Add white underline on hover */
}

.Navbar img{
    width: 125px;
    height: 121px;
}

#profile-info {
    background-color: transparent;
    display: flex;
    align-items: center;
}
.profile-user img{
    width: 100%;
    height: auto;
    border: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s; 
    border-radius: 50%;
    margin-top: 10%;
}  
.profile-user img:hover {
    background-color: #fff; 
}
.profile-user {
    display: flex;
    align-items: center;
}
.profile-name {
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin-right: 20px;
    margin-left: 5px;
}


/* Styling for the logout button */
#logout-button {
    display: block;
    width: 100%; /* Full width button */
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* White text color */
    background-color: black; /* Red background color */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.3s ease; /* Smooth transition effect */
}

/* Hover effect for the logout button */
#logout-button:hover {
    background-color: #fff; /* Darker red on hover */
    color: black;
}


/* Left Panel */
/* Daftar Perjalanan */
.container {
    display: flex;
    justify-content: space-evenly;
    background-color: transparent;
    padding: 5%
}

.container1 {
    position: relative;
    background-color: #fff;
    width: 481px;
    padding: 20px;
    border-radius: 0.5rem;
}
.list-aktif-container {
    max-height: 480px;
    overflow: auto;
}
.container1 .list-aktif1 {
    display: flex;
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    margin-bottom: 0.625rem;
    width: 420px;
    height: 89px;
    font-size: 13px;
    justify-content: space-evenly;
}
.pesan-btn{
    background-color: transparent;
    display: flexbox;
    padding-top: 13%;
    padding-right: 0px;
    max-width: fit-content;
}
.pesan-btn button{
    background-color:yellowgreen;
    color: black;
    padding: 5px 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 700;

}
.list-driver p{
    padding: 6px;
}

.helmdriver {
    flex-shrink: 0; 
    padding-top: 5%;
}
.daftar-aktif{
    text-align: center;
}
.daftar-aktif, .search, .list-aktif1 {
    margin-bottom: 2%;
}
.daftar-aktif, .search {
    position: sticky;
    top: 0;
    z-index: 20; /* Increased z-index */
    background-color: #fff;
}

.search{
    padding: var(--padding);
    width: auto;
    display: flex;
    align-items: center;
    border-radius: 1.75rem;
    background: #EFEFEF;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    font-family: lexend, sans-serif;
    color: #333333;
    margin-left: 1.5rem;
    outline: none;
    border: none;
    padding: 0;
    background: transparent;
}
.search img{
    width: 1.5rem;
    height: 1.5rem;
}
/* Right Panel */
.container2 {
    background-color: #e960f2; /* Warna dasar container */
    padding: 20px;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 481px;
    height: 580px;
    font-size: 15px;
}
/* button */
.tabs {
    display: flex;
    justify-content: space-around; /* Membagi tombol sama rata */
    margin-bottom: 20px;
    background-color: #e960f2; /* Warna latar belakang container */

}

.tab {
    position: relative;
    background-color: transparent; /* Transparan agar mengikuti latar belakang */
    color: white;
    padding: 10px 80px; /* Atur padding untuk proporsi */
    font-size: 16px;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: color 0.3s;
}

.tab.active {
    color: white; /* Warna teks tetap putih untuk tab aktif */
}

.tab:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px; /* Ketebalan garis bawah */
    background-color: white; /* Warna garis bawah */
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.tab.active:after {
    transform: scaleX(1); /* Aktifkan garis bawah */
}

.tab:hover {
    color: #f3d1f8; /* Warna teks saat hover */
}

.tab:hover:after {
    transform: scaleX(1); /* Animasi garis bawah saat hover */
}
/* end of order riwayat  */
.form-section {
    display: flex;
    flex-direction: column;
}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: white;
}

form input,
form select,
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background-color: #f3d1f8;
    font-size: 14px;
    font-weight: 400;
}

form .travel-time {
    display: flex;
    gap: 10px;
}

form .travel-time input {
    flex: 1;
}

.btn {
    background-color: white;
    color: #d042dc;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #f3d1f8;
}

/* Riwayat Card */
.history {
    display: none; 
    margin-top: 20px;

}

.card {
    background-color: #fff;
    border-radius: 0.25rem;
    padding: 10px;
    margin-bottom: 10px;
    max-height: 483px;
    overflow-y: auto;
}

.card-content {
    display: flex;
    background-color: #EFEFEF;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    margin-bottom: 0.625rem;
    width: 400px;
    height: 89px;
    font-size: 13px;
    justify-content: space-evenly;
    padding-top: 5%;
}

.active-order {
    display: none;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.active-order .order-awaiting {
    background-color: #FFBD59;
    color: black;
    text-align: center;
    padding: 2%;
    font-size: 15px;
}
.active-order .order-accepted {
    background-color:greenyellow;
    color: black;
    text-align: center;
    padding: 2%;
    font-size: 15px;
}

.order-details p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #333;
}

.order-details strong {
    font-weight: bold;
}
.order-info1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 2%;
}
.order-info2 {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 20%;
    
}
#cancel-order {
    background-color: #d042dc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    font-weight: 700;
    transition: background-color 0.3s;
}

#cancel-order:hover {
    background-color: #f3d1f8;
}

/* footer */
footer{
    color: #fff;
    font-weight: 100;
    font-size: 20px;
    text-align: center;
    padding: 2%;
    background-color: #443CE3;
}