/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }
}
/* Tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}

/* Header styles */

header {
    background-color: #D428D7; /* Adjust the background color as needed */
    padding: 20px;
}

.Navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.listoflinks {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.listoflinks li {
    margin-right: 20px;
}

.listoflinks a {
    text-decoration: none;
    font-size: 15;
    color: #fff; 
    padding: 10px 20px;
    border-radius: 5px;
    width: 512px;
    height: 18px;
}

.Navbar img{
    border-radius: 50%;
    background-color: #fff;
    width: 125px;
    height: 121px;
    margin: auto;
    margin-left: 190px;

  }

.btn_masuk {
    background-color: #fff;
    color: #F08080;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-right: 190px;
    width: 96px;
    height: 33px;
}

.topkampus {
    display: flex;
    justify-content: center; /* Mengatur agar konten di dalam container berada di tengah secara horizontal */
    align-items: center;
    padding: 20px;
    gap: 20px; /* Menambahkan jarak antar elemen */
}

.topkampus img {
    width: 40%;
    height: auto;
}

.topkampus .tkp1{
    width: 556px;
    height: 326px;
}

.topkampus .tkp2{
    width: 556px;
    height: 326px ;
}

.welcome-text {
    font-size: 36px; /* Adjust font size as needed */
    color: #FFBD59; /* Set the text color to a golden yellow */
    letter-spacing: 2px; /* Add spacing between letters */
    text-align: center;
  }

.gunjekorder {
    text-align: right; 
    max-width: 650px; 
    margin: 0 auto; 
    padding: 20px;
    margin-right: 280px;
  }
  h2 {
    font-size: 24px;
  }
  p {
    font-weight: lighter;
  }

.btn_order {
    background-color: #D428D7;
    color: #fff;
    border: none;
    border-radius: 5px;
    width: 152px;
    height: 52px;
}







