.sidebar-content{
    background-color: #D428D7;
    color: #FFFFFF;
}
.sidebar-link,a.sidebar-link{
    background-color: #D428D7;
    color: #FFFFFF;
}
.sidebar-link:hover{
    background-color: #D428D7;
    color: #FFFFFF;
}